<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хранитель PRO</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Хранитель PRO</h1>
    </header>
    <main>
        <h2>Подача заявки на посещение</h2>
        <p>Личное посещение</p>
        <a href="{% url 'pass_request_form'%}">Перейти</a>
        <p>Групповое посещение</p>
        <a>Перейти</a>
    </main>
    <footer>
        <p> &copy 2025</p>
    </footer>
</body>
</html>